/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [FileHoSoID]
      ,[FileTypeID]
      ,[HoSoID]
      ,[FileSubject]
      ,[NoiDungFile]
      ,[KhoGiay]
      ,[SoTrang]
      ,[UrlFile]
      ,[FileName]
      ,[FileExtension]
      ,[FileSize]
      ,[FileStatus]
      ,[UrlFileWebDav]
      ,[DownloadCount]
      ,[UploadUserID]
      ,[UploadDate]
      ,[OtherText1]
      ,[OtherText2]
      ,[OtherText3]
      ,[OtherNum1]
      ,[OtherNum2]
  FROM [TaiLieuLuuTruTNMTBacNinh_DB].[dbo].[TblFileHoSo]
  where HoSoID in (142016)